.diary_list {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 16px;

  width: 1168px;
}

.diary_list li {
  position: relative;

  width: 274px;
  height: 296px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
}

.diary_list li button {
  position: absolute;
  top: 12px;
  right: 12px;

  border-radius: 100%;
  border: 0px;
}

.diary__thumbnail img {
  border-radius: 16px;
}

.diary__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.diary__info__category {
  display: flex;
  justify-content: space-between;
}

.diary__info__category__emoji {
  font-weight: 600;
  color: #28b4e1;
}

.diary__info__category__date {
  color: #919191;
}

.diary__info h4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;

  font-weight: 700;
  font-size: 18px;
}
