/* 전체 레이아웃 */
body {
  background-color: lightblue;
}

.form_container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.register__diary {
  background-color: #fff;
  width: 640px;
  height: 560px;
  padding: 24px;

  border-radius: 24px;
  overflow: scroll;
}

.register__diary form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* 제목 */
.register__diary h3 {
  font-size: 24px;
  font-weight: 700;
}

/* 오늘의 기분 선택 */
.todays_emotion {
  width: 592px;
  height: 64px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todays_emotion .emotion {
  font-size: 20px;
  font-weight: 600;
}

.select_emoji {
  display: flex;
  gap: 20px;
}

/* 다이어리 컨텐츠 기입 */
.diary_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.diary_content_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.diary_title_input {
  width: 100%;
  height: 48px;
}

.diary_content_content {
  width: 100%;
  height: 156px;
}

/* 버튼 상지 */
.button_box {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.button_box button {
  margin-top: 40px;
  width: 104px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid black;
}

.close {
  background-color: #fff;
}

.register {
  background-color: #c7c7c7;
  color: white;
}
